%p.bg-danger
  This is beta software and should not be used for production purposes
.jumbotron
  %h1 Docker in the cloud!
  %p.lead We take care of backups, hardware and system resources.
.row
  .col-lg-4
    %h2 Container Management
    %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
  .col-lg-4
    %h2 Region Selection
    %p New York, San Fransisco, Amsterdam! We have you covered
  .col-lg-4
    %h2 Trusted Builds
    %p Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa.
