%p.bg-danger
  This is beta software and should not be used for production purposes
.jumbotron
  %h1 Docker in the cloud!
  %p.lead We take care of backups, hardware and system resources.
.row
  .col-lg-4
    %h2 Container Management
    %p
      Choose a piece of software (an "Image") and spin up an instance of that software (a "Container").
      Network ports are automatically forwarded, generated, and exposed to you for immediate use.
      You can start, stop, restart, and destroy containers.
  .col-lg-4
    %h2 Multiple Regions
    %p
      We currently operate servers in New York, San Fransisco, and Amsterdam and will add additional regions in the future.
  .col-lg-4
    %h2 Quality Images
    %p
      We ensure a high standard of quality for our Docker images.
      %ul
        %li Must be test working.
        %li Must be configurable.
        %li Must come with sane defaults.
        %li Must be kept up-to-date.

      Our images are created openly and are contributed back onto the official Docker index.
      If you demand a particular piece of software, please let us know and we'll prepare a high quality image.
      If you've created or know of a high quality image already, let us know and we'll test it and add it to Hyperdock.
